.Nav{
    display: grid;
    grid-template-columns: .3fr 1fr 1.3fr;
    gap: 1vw;
    height: 80px;
    place-items: center;
}

.Logo p{
    color: #003d2a;
    font-size: 5vw;
    font-weight: 900;
}

.Category{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.Category p{
    font-size: 1.5vw;
}

.Search-Cart{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
    place-items: center;
}

.Search{
    display: flex;
    background-color: #66666671;
    padding: .5vw;
    border-radius: 20px;
    justify-content: space-between;
    place-items: center;
    width: 25vw;
}

.Search input{
    background:none;
    border: none;
    height: max-content;
}

.Search-icon{
    height: 20px;
    
}

.Cart{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.Cart p{
    font-size: 1.5vw;
}

@media screen and (max-width: 700px){
    .Nav{
    display: grid;
    grid-template-columns: .3fr 1fr 1.3fr;
    gap: 1vw;
    height: 50px;
    place-items: center;
}
}