.Products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 2rem;
    margin: 2vw;
}

@media screen and (max-width: 900px)  {
    .Products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 750px)  {
    .Products{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px)  {
    .Products{
        display: grid;
        grid-template-columns: 1fr;
    }
}